.fullScreen {
  // height: 100%;
  width: 100%;
  // background-color: #e34125;
  background: url('../../assets/bgImage.svg') no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  .brandLogo {
    width: 50%;
  }
}

.overlayBg {
  width: 100vw;
  max-width: 440px;
}

.landing {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  // padding: 30px;
  background: url('../../assets/bgImage.svg') no-repeat;
  background-size: cover;
  box-sizing: border-box;
  justify-content: flex-end;
  flex-direction: column;

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .tagline {
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    position: relative;
    text-align: center;
    z-index: 2;
    .appText {
      max-width: 80%;
    }
    .brandLogo{
      max-width: 40%;
      margin-top: 30px;
    }
    > span {
      color: #fefa55;
    }
  }
  .top {
    display: flex;
    > img {
      width: 100vw;
      max-width: 440px;
    }
  }
  .bottom {
    // background: #e34125;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    .overlay {
      position: absolute;
      right: 0;
      transform: translate(-20px, -50%);
      top: 1px;
    }
  }
  .actionBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;

    button {
      width: 80%;
      background: #fff;
      border: 1px solid #fff;
      border-radius: 46px;
      padding: 20px;
      margin-bottom: 30px;
      text-transform: uppercase;
      color: #e34125;
      font-weight: 700;
      cursor: pointer;

      &:last-child {
        background-color: #fff;
      }
    }
  }
}
