// .langSelect {
//   // background: url('../../assets/dummyBg.png') no-repeat;
//   background-size: cover;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 30px;
//   box-sizing: border-box;
//   position: relative;

.chooseLang {
  color: #E34125;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  width: 60%;
  margin: 50px auto;
}
.langOptions {
  // background: rgba(255, 255, 255, 0.5);
  // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn .5s;
  max-width: 320px;

  .boxHeader {
    padding: 20px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nextBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  > button {
    border: none;
    background: #e34125;
    border-radius: 25px;
    color: #fff;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px;
  }
}
