@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0 auto;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 440px;
  background: #000;
}

textarea {
  font-family: 'Barlow', sans-serif;
  font-size: 17px;
}

#root {
  display: 'flex';
  flex-direction: 'column';
  height: calc(100vh - env(safe-area-inset-top));
  padding-top: 'env(safe-area-inset-top)';
  padding-bottom: 'env(safe-area-inset-bottom)';
  overflow: 'auto';
  position: relative;
  background: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popup-content {
  margin: auto;
  /* background: rgb(255, 255, 255); */
  background: transparent !important;
  border: none !important;
  width: 75% !important;
  box-sizing: border-box;
  border-radius: 30px;
  max-width: 320px !important;
}

.modal {
  padding: 20px;
  background: #fff;
  border-radius: 30px;
}

.optionBlocked::after {
  content: '';
  width: 10px;
  height: 10px;
  border: 5px solid #fff;
  border-left: transparent;
  border-top: transparent;
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
