.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  max-width: 440px;
  z-index: 2;
}

.solution {
  position: relative;
  .close {
    position: absolute;
    right: 0;
    top: 0;
  }
  .tabName {
    font-weight: bold;
    font-size: 18px;
    color: #e34125;
    text-align: center;
    text-transform: uppercase;
  }
  .slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    .leftControl,
    .rightControl {
      user-select: none;
      cursor: pointer;
    }
  }
  .content {
    display: flex;
    max-width: 131px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 50px;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    user-select: none;
    margin: 20px 0;
    &::-webkit-scrollbar {
      display: none;
    }
    .imgBox {
      max-height: 135px;
      > img {
        max-height: 131px;
        max-width: 131px;
        object-fit: contain;
      }
    }
    button {
      background: #e34125;
      border: none;
      text-transform: uppercase;
      color: #fff;
      border-radius: 20px;
      padding: 10px 20px;
      box-sizing: border-box;
    }
    .box {
      min-width: 182px;
      display: flex;
      align-items: center;
      flex-direction: column;
      scroll-snap-align: center;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      justify-content: space-between;
    }
  }
}

.appFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: transparent;
  max-width: 440px;
  z-index: 2;

  .footerContent {
    // text-transform: capitalize;
    padding: 20px;
    box-sizing: content-box;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px 20px 0 0;
    padding-bottom: 10px;
    max-height: 232px;
    min-height: 232px;
    overflow: auto;
    position: relative;

    .showScroll {
      position: sticky;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, 0%);
      background: rgba(255, 255, 255, 1);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.6px);
      -webkit-backdrop-filter: blur(8.6px);
      border: 1px solid rgba(255, 255, 255, 1);
      padding: 5px 10px;
      display: inline-flex;
      align-items: center;
      > img {
        width: 20px;
        height: 15px;
        object-fit: contain;
        margin-left: 5px;
      }
    }
    .header {
      width: 80%;
      color: #e34125;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  .emotionImg {
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
      width: 100%;
      max-width: 296px;
      object-fit: contain;
    }
  }

  .infoContent {
    position: relative;
    .close {
      position: absolute;
      right: 0;
      top: 0;
    }
    .intensityContent {
      .intensityName {
        text-align: center;
        margin-top: 10px;
      }
      .intensityHeader {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;
        .left,
        .right {
          border-radius: 50%;
          max-width: 94px;
          aspect-ratio: 1;
          object-fit: contain;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
          > img {
            max-width: 94px;
            object-fit: contain;
            aspect-ratio: 1;
          }
        }
      }
      .intensityInfo {
        margin-top: 20px;
        transition: all 0.5s ease;
      }
    }
  }

  .optionsRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e34125;
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
  }
  .option {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    .fullAccessError {
      position: absolute;
      background: #fff;
      bottom: calc(100% + 10px);
      color: #000;
      font-size: 12px;
      font-weight: 400;
      padding: 10px;
      box-sizing: border-box;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      width: 200%;
      display: none;
      // top: 50%;
      left: 50%;
      transform: translate(-50%, 0%);
      line-height: 15px;
      span {
        text-transform: uppercase;
        text-decoration: underline;
        color: #e34125;
      }
    }
    .icon {
      width: 47px;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
      > img {
        object-fit: contain;
        width: 100%;
      }
    }
  }
}

.progress {
  display: flex;
  margin-top: 30px;
  .bar {
    overflow: hidden;
    display: flex;
    height: 40px;
    width: 100%;
    .appealing,
    .neutral,
    .unappealing {
      position: relative;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      .percent,
      .label {
        position: absolute;
        font-size: 12px;
        font-weight: 700;
      }
      .label {
        bottom: -20px;
        z-index: 2;
        font-size: 10px;
      }
    }
    .appealing {
      // width: 55%;
      background: #34c700;
      border-radius: 10px 0 0 10px;
      .label {
        color: #34c700;
      }
    }
    .neutral {
      // width: 30%;
      background: #e8b80b;
      .label {
        color: #e8b80b;
      }
    }
    .unappealing {
      // width: 15%;
      background: #c60000;
      border-radius: 0 10px 10px 0;
      .label {
        color: #c60000;
      }
    }
  }
}
